
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
main{
    background-color: #f5f8ff;
}

/* background image */
header {
  background-image: url(../B12A01-landing-launchpad/Assets/Hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

/* nav styles */
.co-name{
    font-size: 34px;
    font-weight: 900;
    color: rgba(78, 71, 255, 1);
}
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 150px;
}
.btn-main{
    border-radius: 10px;
    padding: 16px 36px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    background-color: #332E9D;
}
.btn-main:hover{
    opacity: 0.8;
    transform: scale(1.05);
    transition: opacity 0.3s ease, transform 0.3s ease; background-color 0.3s ease;
       background-color: rgba(60, 55, 200, 1);
}

.hero-banner{
    font-size: 65px;
    font-weight: bold;
    max-width: 900px;
    margin: 230px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.stay-focused{
    margin-top: 30px;

}

/* action section styles */
.action-section{
    display: flex;
    gap: 100px;
    margin: 120px 140px 120px 140px;

}
.title{
    font-size: 42px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
}
.sub-title{
    font-size: 24px;
    font-weight: 400;
    color: rgba(37, 36, 50, 0.5);
}

.action-banner{
    border-radius: 48px;

}
/* productive users section */

.productive-users {
    max-width: 1320px;
    width: 100%;
    margin: 120px auto;
    padding: 50px 20px; 
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.productive-users-title {
    font-size: 45px; 
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
    margin-bottom: 30px;
    text-align: center;
}

.productive-users-description {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 20px;
}

.description-item {
    text-align: center;
}

.number {
    font-size: 80px;
    font-weight: bold;
    color: rgba(78, 71, 255, 1);
    display: block;
}

.description-sub-title {
    font-size: 18px;
    color: #666; 
    margin-top: 20px;

}



.column-title{
    font-size: 1000;
    font-weight: bold;
}


.get-in-touch-section {
    padding: 100px 230px;
    background-color: #f5f8ff;
}


.contact-container {
    max-width: 1320px;
    margin: 0 auto;
    display: flex;
    gap: 100px;
    justify-content: space-between;
    
}

.left-column {
    flex: 1;
    min-width: 300px;
}

.section-title {
    font-size: 65px;
    font-weight: bold;
    color: #333;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0;
}

.right-column {
    flex: 1;
    min-width: 350px;
    background-color: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}


.form-group {
    margin-bottom: 24px;
}

.form-group label {
    display: block;
    font-size: 16px;
    font-weight: 400px;
    color: #555;
    margin-bottom: 8px;
}
.right-column input[type="email"],
.right-column input[type="text"],
.right-column textarea {
    width: 100%;
    padding: 15px 20px;
    height: 64px;
    border: 1px solid #ddd;
    border-radius: 10px;
    font-size: 16px;
    color: #333;
    box-sizing: border-box;
    outline: none;
}

.right-column textarea {
    height: 135px;
    resize: vertical;
}

.right-column input::placeholder,
.right-column textarea::placeholder {
    color: #aaa;
}

.right-column input:focus,
.right-column textarea:focus {
    border-color: #4E47FF;
    box-shadow: 0 0 0 3px rgba(78, 71, 255, 0.2);
}
.right-column input[type="submit"] {
    width: 100%;
    padding: 18px 20px;
    font-size: 18px;
    margin-top: 20px;
    background-color: #4E47FF;
    color: white;
    border: none;
    border-radius: 10px;
    font-weight: 700;
}

/* review style */
.review-section{
    text-align: center;
    padding: 100px 150px;
}
.review-title{
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 50px;
}
.review-container{
    display: flex;
    gap: 30px;
    justify-content: center;
    max-width: 1320px;
    margin: 0 auto;
}
.review-card{
    border-radius: 15px;
    padding: 25px;
}

/* footer style */
.logo{
    font-size: 70px;
    font-weight: 800;
    color: rgba(78, 71, 255, 1);
}
.footer-text{
    font-size: 15px;
    color: rgba(137, 135, 161, 1);
}
.primary-footer{
    padding: 80px 150px;
    text-align: center;
}
.footer-nav li a {
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
}

.footer-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
}