
.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
main{
    background-color: #f5f8ff;
}

/* background image */
header {
  background-image: url(../B12A01-landing-launchpad/Assets/Hero-bg.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

}
/* nav styles */
nav h1{
    font-size: 34px;
    font-weight: 900;
    color: rgba(78, 71, 255, 1);
}
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration: none;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto 150px;
}
.btn-main{
    border-radius: 10px;
    padding: 16px 36px;
    border: none;
    font-size: 16px;
    font-weight: 700;
    color: rgba(255, 255, 255, 1);
    background-color: rgba(78, 71, 255, 1);
}

.hero-banner{
    font-size: 65px;
    font-weight: bold;
    max-width: 900px;
    margin: 230px auto;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.stay-focused{
    margin-top: 30px;

}

/* action section styles */
.action-section{
    display: flex;
    gap: 100px;
    margin: 120px 140px 120px 140px;

}
.title{
    font-size: 42px;
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
}
.sub-title{
    font-size: 24px;
    font-weight: 400;
    color: rgba(37, 36, 50, 0.5);
}

.action-banner{
    border-radius: 48px;

}
/* productive users section */

.productive-users {
    max-width: 1320px;
    width: 100%;
    margin: 120px auto;
    padding: 50px 20px; 
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.productive-users-title {
    font-size: 45px; 
    font-weight: bold;
    color: rgba(37, 36, 50, 1);
    margin-bottom: 30px;
    text-align: center;
}

.productive-users-description {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 20px;
}

.description-item {
    text-align: center;
}

.number {
    font-size: 80px;
    font-weight: bold;
    color: rgba(78, 71, 255, 1);
    display: block;
}

.description-sub-title {
    font-size: 18px;
    color: #666; 
    margin-top: 20px;

}


